*{
	margin: 0;
	padding: 0;
	max-width: 100% !important;

}

#logo{
	background-color: white;
}

body{
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: white;
}

nav ul{
	list-style-type: none;
	overflow: hidden;
}

nav a li {
  float: left;
  display: inline;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

body{
	background-image: url("../img/pattern.jpg");
}

section{
	background-color: white;
	margin: 10px 15%;
}

section h1{
	text-align: center;	
}

#article-list{
	border: none;
}

section div{
	margin: 20px 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
}


footer{
	background-color: black;
	color: white;
	width: 100%;
	height: 20px;
	text-align: center;
	padding: 20px;
}


.about, .contact{
	margin: 10% 20% auto;
	height: 250px;
	width: 800px;
	border : solid 1px;
	padding: 20px;
	background-color: white;
	text-align: center;
}

.about ol{
	text-align: left;
	margin: 40px 50px;
}

.contact{
	height: 400px;
	margin: 7% 20% auto;
}

.contact ul{
	text-align: left;
	list-style-type: none;
	margin: 10px 10px 20px;
}

table{
	margin: 10px 0px 20px;
}

th{
	text-align: left;
	width: 200px;
}
td, form{
	text-align: left;
}
